@font-face {
  font-family: 'Gilroy';
  src: url('./Gilroy/Gilroy-ExtraBold.eot');
  src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
  url('./Gilroy/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('./Gilroy/Gilroy-ExtraBold.woff') format('woff'),
  url('./Gilroy/Gilroy-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./Gilroy/Gilroy-Heavy.eot');
  src: local('Gilroy Heavy'), local('Gilroy-Heavy'),
  url('./Gilroy/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
  url('./Gilroy/Gilroy-Heavy.woff') format('woff'),
  url('./Gilroy/Gilroy-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./Gilroy/Gilroy-LightItalic.eot');
  src: local('Gilroy Light Italic'), local('Gilroy-LightItalic'),
  url('./Gilroy/Gilroy-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('./Gilroy/Gilroy-LightItalic.woff') format('woff'),
  url('./Gilroy/Gilroy-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./Gilroy/Gilroy-ThinItalic.eot');
  src: local('Gilroy Thin Italic'), local('Gilroy-ThinItalic'),
  url('./Gilroy/Gilroy-ThinItalic.eot?#iefix') format('embedded-opentype'),
  url('./Gilroy/Gilroy-ThinItalic.woff') format('woff'),
  url('./Gilroy/Gilroy-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./Gilroy/Gilroy-BlackItalic.eot');
  src: local('Gilroy Black Italic'), local('Gilroy-BlackItalic'),
  url('./Gilroy/Gilroy-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('./Gilroy/Gilroy-BlackItalic.woff') format('woff'),
  url('./Gilroy/Gilroy-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./Gilroy/Gilroy-BoldItalic.eot');
  src: local('Gilroy Bold Italic'), local('Gilroy-BoldItalic'),
  url('./Gilroy/Gilroy-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('./Gilroy/Gilroy-BoldItalic.woff') format('woff'),
  url('./Gilroy/Gilroy-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./Gilroy/Gilroy-SemiBold.eot');
  src: local('Gilroy SemiBold'), local('Gilroy-SemiBold'),
  url('./Gilroy/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('./Gilroy/Gilroy-SemiBold.woff') format('woff'),
  url('./Gilroy/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./Gilroy/Gilroy-UltraLightItalic.eot');
  src: local('Gilroy UltraLight Italic'), local('Gilroy-UltraLightItalic'),
  url('./Gilroy/Gilroy-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
  url('./Gilroy/Gilroy-UltraLightItalic.woff') format('woff'),
  url('./Gilroy/Gilroy-UltraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./Gilroy/Gilroy-SemiBoldItalic.eot');
  src: local('Gilroy SemiBold Italic'), local('Gilroy-SemiBoldItalic'),
  url('./Gilroy/Gilroy-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('./Gilroy/Gilroy-SemiBoldItalic.woff') format('woff'),
  url('./Gilroy/Gilroy-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./Gilroy/Gilroy-Light.eot');
  src: local('Gilroy Light'), local('Gilroy-Light'),
  url('./Gilroy/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
  url('./Gilroy/Gilroy-Light.woff') format('woff'),
  url('./Gilroy/Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./Gilroy/Gilroy-MediumItalic.eot');
  src: local('Gilroy Medium Italic'), local('Gilroy-MediumItalic'),
  url('./Gilroy/Gilroy-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('./Gilroy/Gilroy-MediumItalic.woff') format('woff'),
  url('./Gilroy/Gilroy-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./Gilroy/Gilroy-ExtraBoldItalic.eot');
  src: local('Gilroy ExtraBold Italic'), local('Gilroy-ExtraBoldItalic'),
  url('./Gilroy/Gilroy-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('./Gilroy/Gilroy-ExtraBoldItalic.woff') format('woff'),
  url('./Gilroy/Gilroy-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./Gilroy/Gilroy-Regular.eot');
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
  url('./Gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
  url('./Gilroy/Gilroy-Regular.woff') format('woff'),
  url('./Gilroy/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./Gilroy/Gilroy-HeavyItalic.eot');
  src: local('Gilroy Heavy Italic'), local('Gilroy-HeavyItalic'),
  url('./Gilroy/Gilroy-HeavyItalic.eot?#iefix') format('embedded-opentype'),
  url('./Gilroy/Gilroy-HeavyItalic.woff') format('woff'),
  url('./Gilroy/Gilroy-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./Gilroy/Gilroy-Medium.eot');
  src: local('Gilroy Medium'), local('Gilroy-Medium'),
  url('./Gilroy/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
  url('./Gilroy/Gilroy-Medium.woff') format('woff'),
  url('./Gilroy/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./Gilroy/Gilroy-RegularItalic.eot');
  src: local('Gilroy Regular Italic'), local('Gilroy-RegularItalic'),
  url('./Gilroy/Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),
  url('./Gilroy/Gilroy-RegularItalic.woff') format('woff'),
  url('./Gilroy/Gilroy-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./Gilroy/Gilroy-UltraLight.eot');
  src: local('Gilroy UltraLight'), local('Gilroy-UltraLight'),
  url('./Gilroy/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
  url('./Gilroy/Gilroy-UltraLight.woff') format('woff'),
  url('./Gilroy/Gilroy-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./Gilroy/Gilroy-Bold.eot');
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
  url('./Gilroy/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
  url('./Gilroy/Gilroy-Bold.woff') format('woff'),
  url('./Gilroy/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./Gilroy/Gilroy-Thin.eot');
  src: local('Gilroy Thin'), local('Gilroy-Thin'),
  url('./Gilroy/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
  url('./Gilroy/Gilroy-Thin.woff') format('woff'),
  url('./Gilroy/Gilroy-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./Gilroy/Gilroy-Black.eot');
  src: local('Gilroy Black'), local('Gilroy-Black'),
  url('./Gilroy/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
  url('./Gilroy/Gilroy-Black.woff') format('woff'),
  url('./Gilroy/Gilroy-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}


@font-face {
  font-family: 'Inter';
  src: url('./Inter/Inter-BoldItalic.eot');
  src: local('Inter Bold Italic'), local('Inter-BoldItalic'),
  url('./Inter/Inter-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('./Inter/Inter-BoldItalic.woff2') format('woff2'),
  url('./Inter/Inter-BoldItalic.woff') format('woff'),
  url('./Inter/Inter-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter/Inter-MediumItalic.eot');
  src: local('Inter Medium Italic'), local('Inter-MediumItalic'),
  url('./Inter/Inter-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('./Inter/Inter-MediumItalic.woff2') format('woff2'),
  url('./Inter/Inter-MediumItalic.woff') format('woff'),
  url('./Inter/Inter-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter/Inter-ThinItalicBETA.eot');
  src: local('Inter Thin Italic BETA'), local('Inter-ThinItalicBETA'),
  url('./Inter/Inter-ThinItalicBETA.eot?#iefix') format('embedded-opentype'),
  url('./Inter/Inter-ThinItalicBETA.woff2') format('woff2'),
  url('./Inter/Inter-ThinItalicBETA.woff') format('woff'),
  url('./Inter/Inter-ThinItalicBETA.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter/Inter-Regular.eot');
  src: local('Inter Regular'), local('Inter-Regular'),
  url('./Inter/Inter-Regular.eot?#iefix') format('embedded-opentype'),
  url('./Inter/Inter-Regular.woff2') format('woff2'),
  url('./Inter/Inter-Regular.woff') format('woff'),
  url('./Inter/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter/Inter-Black.eot');
  src: local('Inter Black'), local('Inter-Black'),
  url('./Inter/Inter-Black.eot?#iefix') format('embedded-opentype'),
  url('./Inter/Inter-Black.woff2') format('woff2'),
  url('./Inter/Inter-Black.woff') format('woff'),
  url('./Inter/Inter-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter/Inter-BlackItalic.eot');
  src: local('Inter Black Italic'), local('Inter-BlackItalic'),
  url('./Inter/Inter-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('./Inter/Inter-BlackItalic.woff2') format('woff2'),
  url('./Inter/Inter-BlackItalic.woff') format('woff'),
  url('./Inter/Inter-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter/Inter-LightBETA.eot');
  src: local('Inter Light BETA'), local('Inter-LightBETA'),
  url('./Inter/Inter-LightBETA.eot?#iefix') format('embedded-opentype'),
  url('./Inter/Inter-LightBETA.woff2') format('woff2'),
  url('./Inter/Inter-LightBETA.woff') format('woff'),
  url('./Inter/Inter-LightBETA.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter/Inter-SemiBold.eot');
  src: local('Inter Semi Bold'), local('Inter-SemiBold'),
  url('./Inter/Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('./Inter/Inter-SemiBold.woff2') format('woff2'),
  url('./Inter/Inter-SemiBold.woff') format('woff'),
  url('./Inter/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter/Inter-ExtraBoldItalic.eot');
  src: local('Inter Extra Bold Italic'), local('Inter-ExtraBoldItalic'),
  url('./Inter/Inter-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('./Inter/Inter-ExtraBoldItalic.woff2') format('woff2'),
  url('./Inter/Inter-ExtraBoldItalic.woff') format('woff'),
  url('./Inter/Inter-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter/Inter-Bold.eot');
  src: local('Inter Bold'), local('Inter-Bold'),
  url('./Inter/Inter-Bold.eot?#iefix') format('embedded-opentype'),
  url('./Inter/Inter-Bold.woff2') format('woff2'),
  url('./Inter/Inter-Bold.woff') format('woff'),
  url('./Inter/Inter-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter/Inter-ExtraLightItalicBETA.eot');
  src: local('Inter Extra Light Italic BETA'), local('Inter-ExtraLightItalicBETA'),
  url('./Inter/Inter-ExtraLightItalicBETA.eot?#iefix') format('embedded-opentype'),
  url('./Inter/Inter-ExtraLightItalicBETA.woff2') format('woff2'),
  url('./Inter/Inter-ExtraLightItalicBETA.woff') format('woff'),
  url('./Inter/Inter-ExtraLightItalicBETA.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter/Inter-ExtraLightBETA.eot');
  src: local('Inter Extra Light BETA'), local('Inter-ExtraLightBETA'),
  url('./Inter/Inter-ExtraLightBETA.eot?#iefix') format('embedded-opentype'),
  url('./Inter/Inter-ExtraLightBETA.woff2') format('woff2'),
  url('./Inter/Inter-ExtraLightBETA.woff') format('woff'),
  url('./Inter/Inter-ExtraLightBETA.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter/Inter-ExtraBold.eot');
  src: local('Inter Extra Bold'), local('Inter-ExtraBold'),
  url('./Inter/Inter-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('./Inter/Inter-ExtraBold.woff2') format('woff2'),
  url('./Inter/Inter-ExtraBold.woff') format('woff'),
  url('./Inter/Inter-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter/Inter-ThinBETA.eot');
  src: local('Inter Thin BETA'), local('Inter-ThinBETA'),
  url('./Inter/Inter-ThinBETA.eot?#iefix') format('embedded-opentype'),
  url('./Inter/Inter-ThinBETA.woff2') format('woff2'),
  url('./Inter/Inter-ThinBETA.woff') format('woff'),
  url('./Inter/Inter-ThinBETA.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter/Inter-LightItalicBETA.eot');
  src: local('Inter Light Italic BETA'), local('Inter-LightItalicBETA'),
  url('./Inter/Inter-LightItalicBETA.eot?#iefix') format('embedded-opentype'),
  url('./Inter/Inter-LightItalicBETA.woff2') format('woff2'),
  url('./Inter/Inter-LightItalicBETA.woff') format('woff'),
  url('./Inter/Inter-LightItalicBETA.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter/Inter-Italic.eot');
  src: local('Inter Italic'), local('Inter-Italic'),
  url('./Inter/Inter-Italic.eot?#iefix') format('embedded-opentype'),
  url('./Inter/Inter-Italic.woff2') format('woff2'),
  url('./Inter/Inter-Italic.woff') format('woff'),
  url('./Inter/Inter-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter/Inter-SemiBoldItalic.eot');
  src: local('Inter Semi Bold Italic'), local('Inter-SemiBoldItalic'),
  url('./Inter/Inter-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('./Inter/Inter-SemiBoldItalic.woff2') format('woff2'),
  url('./Inter/Inter-SemiBoldItalic.woff') format('woff'),
  url('./Inter/Inter-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter/Inter-Medium.eot');
  src: local('Inter Medium'), local('Inter-Medium'),
  url('./Inter/Inter-Medium.eot?#iefix') format('embedded-opentype'),
  url('./Inter/Inter-Medium.woff2') format('woff2'),
  url('./Inter/Inter-Medium.woff') format('woff'),
  url('./Inter/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Neometric';
  src: url('./Neometric/Neometric-HeavyItalic.eot');
  src: local('Neometric Heavy Italic'), local('Neometric-HeavyItalic'),
  url('./Neometric/Neometric-HeavyItalic.eot?#iefix') format('embedded-opentype'),
  url('./Neometric/Neometric-HeavyItalic.woff2') format('woff2'),
  url('./Neometric/Neometric-HeavyItalic.woff') format('woff'),
  url('./Neometric/Neometric-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Neometric Alt';
  src: url('./Neometric/NeometricAlt-Black.eot');
  src: local('Neometric Alt Black'), local('NeometricAlt-Black'),
  url('./Neometric/NeometricAlt-Black.eot?#iefix') format('embedded-opentype'),
  url('./Neometric/NeometricAlt-Black.woff2') format('woff2'),
  url('./Neometric/NeometricAlt-Black.woff') format('woff'),
  url('./Neometric/NeometricAlt-Black.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Neometric';
  src: url('./Neometric/Neometric-ExtraLightItalic.eot');
  src: local('Neometric Extra Light Italic'), local('Neometric-ExtraLightItalic'),
  url('./Neometric/Neometric-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
  url('./Neometric/Neometric-ExtraLightItalic.woff2') format('woff2'),
  url('./Neometric/Neometric-ExtraLightItalic.woff') format('woff'),
  url('./Neometric/Neometric-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Neometric';
  src: url('./Neometric/Neometric-Medium.eot');
  src: local('Neometric Medium'), local('Neometric-Medium'),
  url('./Neometric/Neometric-Medium.eot?#iefix') format('embedded-opentype'),
  url('./Neometric/Neometric-Medium.woff2') format('woff2'),
  url('./Neometric/Neometric-Medium.woff') format('woff'),
  url('./Neometric/Neometric-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Neometric Alt';
  src: url('./Neometric/NeometricAlt-Hairline.eot');
  src: local('Neometric Alt Hairline'), local('NeometricAlt-Hairline'),
  url('./Neometric/NeometricAlt-Hairline.eot?#iefix') format('embedded-opentype'),
  url('./Neometric/NeometricAlt-Hairline.woff2') format('woff2'),
  url('./Neometric/NeometricAlt-Hairline.woff') format('woff'),
  url('./Neometric/NeometricAlt-Hairline.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Neometric';
  src: url('./Neometric/Neometric-Light.eot');
  src: local('Neometric Light'), local('Neometric-Light'),
  url('./Neometric/Neometric-Light.eot?#iefix') format('embedded-opentype'),
  url('./Neometric/Neometric-Light.woff2') format('woff2'),
  url('./Neometric/Neometric-Light.woff') format('woff'),
  url('./Neometric/Neometric-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Neometric';
  src: url('./Neometric/Neometric-Black.eot');
  src: local('Neometric Black'), local('Neometric-Black'),
  url('./Neometric/Neometric-Black.eot?#iefix') format('embedded-opentype'),
  url('./Neometric/Neometric-Black.woff2') format('woff2'),
  url('./Neometric/Neometric-Black.woff') format('woff'),
  url('./Neometric/Neometric-Black.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Neometric';
  src: url('./Neometric/Neometric-BlackItalic.eot');
  src: local('Neometric Black Italic'), local('Neometric-BlackItalic'),
  url('./Neometric/Neometric-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('./Neometric/Neometric-BlackItalic.woff2') format('woff2'),
  url('./Neometric/Neometric-BlackItalic.woff') format('woff'),
  url('./Neometric/Neometric-BlackItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Neometric';
  src: url('./Neometric/Neometric-MediumItalic.eot');
  src: local('Neometric Medium Italic'), local('Neometric-MediumItalic'),
  url('./Neometric/Neometric-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('./Neometric/Neometric-MediumItalic.woff2') format('woff2'),
  url('./Neometric/Neometric-MediumItalic.woff') format('woff'),
  url('./Neometric/Neometric-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Neometric';
  src: url('./Neometric/Neometric-ExtraBold.eot');
  src: local('Neometric Extra Bold'), local('Neometric-ExtraBold'),
  url('./Neometric/Neometric-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('./Neometric/Neometric-ExtraBold.woff2') format('woff2'),
  url('./Neometric/Neometric-ExtraBold.woff') format('woff'),
  url('./Neometric/Neometric-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Neometric Alt';
  src: url('./Neometric/NeometricAlt-ExtraLightItalic.eot');
  src: local('Neometric Alt ExtLt Ita'), local('NeometricAlt-ExtraLightItalic'),
  url('./Neometric/NeometricAlt-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
  url('./Neometric/NeometricAlt-ExtraLightItalic.woff2') format('woff2'),
  url('./Neometric/NeometricAlt-ExtraLightItalic.woff') format('woff'),
  url('./Neometric/NeometricAlt-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Neometric';
  src: url('./Neometric/Neometric-BoldItalic.eot');
  src: local('Neometric Bold Italic'), local('Neometric-BoldItalic'),
  url('./Neometric/Neometric-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('./Neometric/Neometric-BoldItalic.woff2') format('woff2'),
  url('./Neometric/Neometric-BoldItalic.woff') format('woff'),
  url('./Neometric/Neometric-BoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Neometric Alt';
  src: url('./Neometric/NeometricAlt-HairlineItalic.eot');
  src: local('Neometric Alt Hairline Italic'), local('NeometricAlt-HairlineItalic'),
  url('./Neometric/NeometricAlt-HairlineItalic.eot?#iefix') format('embedded-opentype'),
  url('./Neometric/NeometricAlt-HairlineItalic.woff2') format('woff2'),
  url('./Neometric/NeometricAlt-HairlineItalic.woff') format('woff'),
  url('./Neometric/NeometricAlt-HairlineItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Neometric';
  src: url('./Neometric/Neometric-ExtraLight.eot');
  src: local('Neometric Extra Light'), local('Neometric-ExtraLight'),
  url('./Neometric/Neometric-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('./Neometric/Neometric-ExtraLight.woff2') format('woff2'),
  url('./Neometric/Neometric-ExtraLight.woff') format('woff'),
  url('./Neometric/Neometric-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Neometric Alt';
  src: url('./Neometric/NeometricAlt-ExtraBold.eot');
  src: local('Neometric Alt Extra Bold'), local('NeometricAlt-ExtraBold'),
  url('./Neometric/NeometricAlt-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('./Neometric/NeometricAlt-ExtraBold.woff2') format('woff2'),
  url('./Neometric/NeometricAlt-ExtraBold.woff') format('woff'),
  url('./Neometric/NeometricAlt-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Neometric';
  src: url('./Neometric/Neometric-LightItalic.eot');
  src: local('Neometric Light Italic'), local('Neometric-LightItalic'),
  url('./Neometric/Neometric-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('./Neometric/Neometric-LightItalic.woff2') format('woff2'),
  url('./Neometric/Neometric-LightItalic.woff') format('woff'),
  url('./Neometric/Neometric-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Neometric Alt';
  src: url('./Neometric/NeometricAlt-Bold.eot');
  src: local('Neometric Alt Bold'), local('NeometricAlt-Bold'),
  url('./Neometric/NeometricAlt-Bold.eot?#iefix') format('embedded-opentype'),
  url('./Neometric/NeometricAlt-Bold.woff2') format('woff2'),
  url('./Neometric/NeometricAlt-Bold.woff') format('woff'),
  url('./Neometric/NeometricAlt-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Neometric Alt';
  src: url('./Neometric/NeometricAlt-MediumItalic.eot');
  src: local('Neometric Alt Medium Italic'), local('NeometricAlt-MediumItalic'),
  url('./Neometric/NeometricAlt-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('./Neometric/NeometricAlt-MediumItalic.woff2') format('woff2'),
  url('./Neometric/NeometricAlt-MediumItalic.woff') format('woff'),
  url('./Neometric/NeometricAlt-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Neometric Alt';
  src: url('./Neometric/NeometricAlt-BoldItalic.eot');
  src: local('Neometric Alt Bold Italic'), local('NeometricAlt-BoldItalic'),
  url('./Neometric/NeometricAlt-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('./Neometric/NeometricAlt-BoldItalic.woff2') format('woff2'),
  url('./Neometric/NeometricAlt-BoldItalic.woff') format('woff'),
  url('./Neometric/NeometricAlt-BoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Neometric Alt';
  src: url('./Neometric/NeometricAlt-ExtraLight.eot');
  src: local('Neometric Alt Extra Light'), local('NeometricAlt-ExtraLight'),
  url('./Neometric/NeometricAlt-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('./Neometric/NeometricAlt-ExtraLight.woff2') format('woff2'),
  url('./Neometric/NeometricAlt-ExtraLight.woff') format('woff'),
  url('./Neometric/NeometricAlt-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Neometric Alt';
  src: url('./Neometric/NeometricAlt-ExtraBoldItalic.eot');
  src: local('Neometric Alt Extra Bold Italic'), local('NeometricAlt-ExtraBoldItalic'),
  url('./Neometric/NeometricAlt-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('./Neometric/NeometricAlt-ExtraBoldItalic.woff2') format('woff2'),
  url('./Neometric/NeometricAlt-ExtraBoldItalic.woff') format('woff'),
  url('./Neometric/NeometricAlt-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Neometric';
  src: url('./Neometric/Neometric-Hairline.eot');
  src: local('Neometric Hairline'), local('Neometric-Hairline'),
  url('./Neometric/Neometric-Hairline.eot?#iefix') format('embedded-opentype'),
  url('./Neometric/Neometric-Hairline.woff2') format('woff2'),
  url('./Neometric/Neometric-Hairline.woff') format('woff'),
  url('./Neometric/Neometric-Hairline.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Neometric';
  src: url('./Neometric/Neometric-Regular.eot');
  src: local('Neometric Regular'), local('Neometric-Regular'),
  url('./Neometric/Neometric-Regular.eot?#iefix') format('embedded-opentype'),
  url('./Neometric/Neometric-Regular.woff2') format('woff2'),
  url('./Neometric/Neometric-Regular.woff') format('woff'),
  url('./Neometric/Neometric-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neometric Alt';
  src: url('./Neometric/NeometricAlt-Heavy.eot');
  src: local('Neometric Alt Heavy'), local('NeometricAlt-Heavy'),
  url('./Neometric/NeometricAlt-Heavy.eot?#iefix') format('embedded-opentype'),
  url('./Neometric/NeometricAlt-Heavy.woff2') format('woff2'),
  url('./Neometric/NeometricAlt-Heavy.woff') format('woff'),
  url('./Neometric/NeometricAlt-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Neometric';
  src: url('./Neometric/Neometric-HairlineItalic.eot');
  src: local('Neometric Hairline Italic'), local('Neometric-HairlineItalic'),
  url('./Neometric/Neometric-HairlineItalic.eot?#iefix') format('embedded-opentype'),
  url('./Neometric/Neometric-HairlineItalic.woff2') format('woff2'),
  url('./Neometric/Neometric-HairlineItalic.woff') format('woff'),
  url('./Neometric/Neometric-HairlineItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Neometric Alt';
  src: url('./Neometric/NeometricAlt-Light.eot');
  src: local('Neometric Alt Light'), local('NeometricAlt-Light'),
  url('./Neometric/NeometricAlt-Light.eot?#iefix') format('embedded-opentype'),
  url('./Neometric/NeometricAlt-Light.woff2') format('woff2'),
  url('./Neometric/NeometricAlt-Light.woff') format('woff'),
  url('./Neometric/NeometricAlt-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Neometric Alt';
  src: url('./Neometric/NeometricAlt-BlackItalic.eot');
  src: local('Neometric Alt Black Italic'), local('NeometricAlt-BlackItalic'),
  url('./Neometric/NeometricAlt-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('./Neometric/NeometricAlt-BlackItalic.woff2') format('woff2'),
  url('./Neometric/NeometricAlt-BlackItalic.woff') format('woff'),
  url('./Neometric/NeometricAlt-BlackItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Neometric';
  src: url('./Neometric/Neometric-ExtraBoldItalic.eot');
  src: local('Neometric Extra Bold Italic'), local('Neometric-ExtraBoldItalic'),
  url('./Neometric/Neometric-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('./Neometric/Neometric-ExtraBoldItalic.woff2') format('woff2'),
  url('./Neometric/Neometric-ExtraBoldItalic.woff') format('woff'),
  url('./Neometric/Neometric-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Neometric Alt';
  src: url('./Neometric/NeometricAlt-Medium.eot');
  src: local('Neometric Alt Medium'), local('NeometricAlt-Medium'),
  url('./Neometric/NeometricAlt-Medium.eot?#iefix') format('embedded-opentype'),
  url('./Neometric/NeometricAlt-Medium.woff2') format('woff2'),
  url('./Neometric/NeometricAlt-Medium.woff') format('woff'),
  url('./Neometric/NeometricAlt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Neometric Alt';
  src: url('./Neometric/NeometricAlt-Italic2.eot');
  src: local('Neometric Alt Italic 2'), local('NeometricAlt-Italic2'),
  url('./Neometric/NeometricAlt-Italic2.eot?#iefix') format('embedded-opentype'),
  url('./Neometric/NeometricAlt-Italic2.woff2') format('woff2'),
  url('./Neometric/NeometricAlt-Italic2.woff') format('woff'),
  url('./Neometric/NeometricAlt-Italic2.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Neometric Alt';
  src: url('./Neometric/NeometricAlt-LightItalic.eot');
  src: local('Neometric Alt Light Italic'), local('NeometricAlt-LightItalic'),
  url('./Neometric/NeometricAlt-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('./Neometric/NeometricAlt-LightItalic.woff2') format('woff2'),
  url('./Neometric/NeometricAlt-LightItalic.woff') format('woff'),
  url('./Neometric/NeometricAlt-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Neometric Alt';
  src: url('./Neometric/NeometricAlt-Regular.eot');
  src: local('Neometric Alt Regular'), local('NeometricAlt-Regular'),
  url('./Neometric/NeometricAlt-Regular.eot?#iefix') format('embedded-opentype'),
  url('./Neometric/NeometricAlt-Regular.woff2') format('woff2'),
  url('./Neometric/NeometricAlt-Regular.woff') format('woff'),
  url('./Neometric/NeometricAlt-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neometric';
  src: url('./Neometric/Neometric-Bold.eot');
  src: local('Neometric Bold'), local('Neometric-Bold'),
  url('./Neometric/Neometric-Bold.eot?#iefix') format('embedded-opentype'),
  url('./Neometric/Neometric-Bold.woff2') format('woff2'),
  url('./Neometric/Neometric-Bold.woff') format('woff'),
  url('./Neometric/Neometric-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Neometric Alt';
  src: url('./Neometric/NeometricAlt-HeavyItalic.eot');
  src: local('Neometric Alt Heavy Italic'), local('NeometricAlt-HeavyItalic'),
  url('./Neometric/NeometricAlt-HeavyItalic.eot?#iefix') format('embedded-opentype'),
  url('./Neometric/NeometricAlt-HeavyItalic.woff2') format('woff2'),
  url('./Neometric/NeometricAlt-HeavyItalic.woff') format('woff'),
  url('./Neometric/NeometricAlt-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Neometric';
  src: url('./Neometric/Neometric-Italic.eot');
  src: local('Neometric Italic'), local('Neometric-Italic'),
  url('./Neometric/Neometric-Italic.eot?#iefix') format('embedded-opentype'),
  url('./Neometric/Neometric-Italic.woff2') format('woff2'),
  url('./Neometric/Neometric-Italic.woff') format('woff'),
  url('./Neometric/Neometric-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Neometric';
  src: url('./Neometric/Neometric-Heavy.eot');
  src: local('Neometric Heavy'), local('Neometric-Heavy'),
  url('./Neometric/Neometric-Heavy.eot?#iefix') format('embedded-opentype'),
  url('./Neometric/Neometric-Heavy.woff2') format('woff2'),
  url('./Neometric/Neometric-Heavy.woff') format('woff'),
  url('./Neometric/Neometric-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

